body
{
background-color:#f4f404;
}

h1
{
  font-family: 'Special Elite', fantasy;
  color:rgb(0, 216, 227);
  background-color: cornsilk;
}

#sketch_name
{
  color:red;
}

#show_sketch
{
  float:right;
}

canvas 
  {
    border:5px solid rgb(246, 107, 0);
    border-radius:20px;
    margin-top:150px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px rgb(3, 3, 253);}
  to {box-shadow: 1px 1px 38px rgb(1, 210, 252);}

}


p, span
  {
    padding-top:10px;
    font-family: 'Special Elite', fantasy;
    font-size:25px;
    
  }

#score
{

  font-size:35px;
  margin-left: 20px;
  float: left;
}

#time
{
 
  font-size:35px;
  margin-right: 20px;
  float: right;
 
}
